@charset "utf-8";

/* リセットcss */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/*共通のスタイル*/

body {
  color: #7D634A;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 150%;

}
h1, h2, h3, th {
font-weight: normal;  
text-align: center;
}

p {
  font-size: 18px;
}
.section_title {
  font-size: 40px;
  
  text-align: center;
  padding: 40px 0 30px 0;
}

a {
  text-decoration: none;
  color: #7D634A;
}

.icon {
  width: 40px;
  padding: 10px 0 20px 0;
  display: block;
  margin: 0 auto;
}

a:hover{
    color: #ACD184;
    text-decoration: none;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}

/*その他のスタイル*/
/*header*/
header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  opacity: 0.7;
  z-index: 100;
}
.headerlogo {
  width: 140px;
  padding: 5px 0 0 10px;
}
.header-nav li {
  display: inline-block;
  margin-right: 35px;
  font-size: 16px;
  
}

/*eyecatch*/
.eyecatch {
  background-image: url(../img/eyecatch.jpg);
  
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
  
.catchcopy {
  color: #e2e1e1;
  font-size: 76px;
  display: block;
  mix-blend-mode: screen;
  letter-spacing: 20px;
}

/*about*/

#about {
  background-color: #FAF5EE;
  text-align: center;
  line-height: 50px;
  padding-bottom: 100px;
  }

.about-text {
  

}

/*food*/

#food {
  
  
}

.menu_title {
  text-align: center;
   margin-bottom: 30px;
}

.menu_title h2 {
  font-size: 28px;
}
.menu_title p {
  font-size: 16px;
  
}
#food {
  
  
}
.background {
  
}

.foodmenu_wrap {
  position: relative;
  width: 100%;
  margin-bottom: 110px;
  margin-top: 90px;

  }
.background {
  z-index; 1;
  width: 93%;
  margin: 0 auto;
  top: 20%;
  
  }
.img_left {
  position: absolute;
  width: 50%;
  z-index: 3;
  left: 0;
  top: -5%;
  }

.menu_box {
  z-index:90;
  display: inline-block;
  top: 10%;
  right: 10%;
  position: absolute;
  line-height: 3rem;
  color: #ffffff;
  padding: 30px;
}
  
.img_right {
  position: absolute;
  width: 50%;
  z-index: 5;
  left: 50%;
  top: 43%;
}
/*set drink*/
.setdrink {
  padding-bottom: 50px;
}
.setdrink p {
  text-align: center;
  font-size: 18px;
} 

/*drink*/

#drink {
  width: 100%;
  padding: 50px 0 50px 0;
  background: #FAF5EE;
  
}
.drink_menu {
  width: 40%;
  margin: 0 auto;
  
}

.drink_menu td {
  height: 40px;
  font-size: 18px;
  }

.td_left {
  width: 80%;
}
.drink_menu th {
  height: 60px;
  font-size:28px;
  
}


/*sweets*/
#sweets {
  padding-top: 60px;
}

.sweets_wrap {
  display: flex;
}
.sweets_img {
  width: 70%;
}

.menu_box2 {
  width:30%;
  background-color: #ACD184;
  color: #ffff;
  
  
}

.sweets_menu {
  width: 90%;
  text-align: left;
  line-height: 4rem;
  margin:0 auto;
  padding: 20px 0 20px 0;

}
.illust {
  width: 300px;
  text-align: right;
  padding-top: 20px;
  
}
/*access*/

#access {
  padding-bottom: 30px;
}
#access p {
  text-align: center;
  line-height: 3rem;
}
#access h3 {
  padding: 30px;
  font-weight: bold;
}

.googlemap {
  margin: 0 auto;
}

/*footer*/
footer {
  height: 50px;
  background-color: #CAB6A3;
color: #ffff;
border-top: solid 2px  #ACD184;
}
.copyright {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}


  


